.d0 {
    border: solid 1xp black;
    margin: auto;
    width: 70%;
    background-color: rgb(176, 121, 228);
}

.d0 ul {
    list-style: none;

}

.d0 ul li {
    display: inline-block;
    margin: 10px;
    margin-left: 10%;
    font-size: 2em;
}

.d0 a {
    text-decoration: none;
}

.d1 {
    border: solid 1xp black;
    margin: auto;
    width: 70%;
    height: 500px;
    background-color: rgb(205, 178, 230);
    font-size: 20px;

}

form {
    margin: auto;
}

label {
    margin-left: 4%;
}

input {
    margin-left: 4%;
}

button {
    margin-left: 4%;
}