.d0 {
    border: solid 1xp black;
    margin: auto;
    width: 60%;
    background-color: rgb(176, 121, 228);
    border-radius: 40px;
}

.d0 ul {
    list-style: none;
    color: black;
    font-size: 28px;

}

.d0 ul li {
    display: inline-block;
    margin: 10px;
    margin-left: 8%;
}

.d0 a {
    text-decoration: none;
}

.d1 {
    border: solid 1xp black;
    border-radius: 40px;
    margin: auto;
    margin-top: 5%;
    width: 60%;
    min-height: 40%;
    background-color: rgb(205, 178, 230);
    font-size: 22px;
    padding: 2%;

}

form {
    margin: auto;
}

label {
    margin-left: 4%;
}

input {
    margin-left: 4%;
}

/* button {
    margin-left: 4%;
}

button {
    padding: 1%;
    border: solid 0px black;
    background-color: rgb(192, 136, 245);
    border-radius: 40px;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 20px;
} */

.k1 {
    margin-left: 5%;
}




table {
    width: 100%;
}


.kitxvebi {
    margin-left: -4%;
    font-size: 22px;
    color: black;
}

.studentebi {
    /* margin-left: -4%; */
    font-size: 22px;
    color: black;
}


.pasuxebi {
    text-decoration: none;
    word-spacing: 2px;
    letter-spacing: 0.5px;
    color: black;
    display: flex;
}

th, td {
	text-align: left;
	padding: 1%;
  }

  th, td a {
	margin-left: 20%;
  }

tr a:hover {
    color: white;
}




/* button {
    background-color:rgb(129, 144, 219);
    border: solid gainsboro 2px;
    color: white;
    padding: 10px;
    width: 35%;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10%;
}  */

/* button {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
}
  
button:hover {
    box-shadow: 2px 2px 15px #8707ff inset;
}
  
button:active {
    box-shadow: 2px 2px 20px #8707ff inset;
}  */

.input {
    background-color: #212121;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #8707ff;
    color:  #8707ff;
}
  
.input:focus {
    color:  #8707ff;
    background-color: #212121;
    outline-color:  #8707ff;
    box-shadow: -3px -3px 15px  #8707ff;
    transition: .1s;
    transition-property: box-shadow;
}



button {
    background-color: #eee;
    border: none;
    padding: 3%;
    font-size: 22px;
    width: 10em;
    border-radius: 20px;
    color: #8707ff;
    box-shadow: 2px 2px #8707ff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 10%;
   }
   
   button:active {
    background: #8707ff;
    color: white;
    box-shadow: 4px 4px white;
    transform: translateY(0.2rem);
   }
   
   button:hover:not(:disabled) {
    background: #8707ff;
    color: white;
    text-shadow: 4px 4px #8707ff;
    box-shadow: 4px 4px white;
   }
   
   button:disabled {
    cursor: auto;
    color: #8707ff;
   }

   h1 {
    margin: auto;
    margin-top: 4%;
    text-align: center;
   }