.d0 {
    display: flex;
}

.d1 {
    border: solid 2px black;
    border-radius: 20px;
    width: 20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: -2%;
    padding-left: 8%;
    padding-bottom: 10%;
}

.d2 {
    border: solid 2px black;
    border-radius: 20px;
    width: 20%;
    height: 20%;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: -2%;
    padding-left: 8%;
    padding-bottom: 14%;
}

button {
    background-color: rgb(221, 152, 255);
    border: solid 0px black;
    border-radius: 10px;
    padding: 4%;
}